.tag {
  transition: 0.2s ease-in;
  display: inline-block;
  margin: 1rem 0.7rem 0.7rem 0;
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid #104385;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.tag:hover {
  transition: 0.2s ease-in;
  border: 2px solid #d61515;
}

.tag-selected {
  border: 2px solid #d61515;
}
