.job__info__container {
  display: flex;
  flex: 1;
  border: 2px solid #cdcdcd;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1.4rem;
  align-items: center;
  margin: 10px 0;
}

.job__date {
  margin: 0 20px;
}

.job__name {
  margin: 0 20px;
}

.job__link {
}
