.job__info__container {
  transition: 0.2s ease-in-out;
  display: flex;
  flex: 1;
  justify-content: space-around;
  border: 2px solid #cdcdcd;
  border-radius: 8px;
  padding: 8px 12px;
  padding-left: 0px;
  font-size: 1.4rem;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.job__info__container:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(80, 122, 199, 0.103);
  border-color: rgba(80, 121, 199, 0.575);
}

.job__info__label__container {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  border-bottom: 3px solid #2d3f94;
  padding-bottom: 10px;
}

.job__date {
  margin: 0 20px;
}

.job__name {
  margin: 0 20px;
}

.job__link {
}
