.problem__item {
  border: 2px solid #cdcdcd;
  display: inline-block;
  margin: 6px 12px;
  padding: 8px;
  border-radius: 8px;
  color: #666;
  font-weight: 600;
}

.problem__set__container {
  display: flex;
  max-height: 10000px;
  flex-wrap: wrap;
  flex-direction: column;
}
