.group-attendance__container {
    display: block;
    padding: 2rem;
}

.group-goal__text {
    top: -4rem;
}

.group-manage__btn-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    button {
        width: 20%;
        height: 100px;
        margin: 0 0.5rem;
        font-size: 15px;
        border: 2px solid white;
    }
    button:hover {
        border: 2px solid black;
    }
    .change {
        background-color: #2c286d;
    }
    .manage {
        background-color: orange;
    }
    .bomb {
        background-color: red;
    }
}