.group-goal__container {
  border: 3px solid #ebebeb;
  border-radius: 12px;
  height: 80%;
  margin-top: 4rem;
  padding-bottom: 3rem;
}

.group-goal__text {
  position: relative;
  display: inline-block;
  border: 5px solid #262272;
  background-color: white;
  border-radius: 8px;
  padding: 1.2rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  top: -2rem;
  left: 2.5rem;
}
