.create {
  background-color: #2680d3 !important;
  border: none !important;
}

.cancel {
  background-color: #ec544c !important;
  border: none !important;
}

.Modal__Button:hover {
  transform: none;
}
