.GroupList__container {
  transition: 0.3s ease-in;
  border: 5px solid #cdcdcd;
  border-left: 30px solid #cdcdcd;
  border-radius: 8px;
  padding: 18px;
  padding-bottom: 10px;
  margin: 1rem 1rem;
  cursor: pointer;
}

.Bronze {
  border-color: #967e74;
  border-image: linear-gradient(to top, rgb(192, 192, 192), #967e74) 1 100%;
}

.Silver {
  border-color: #cdcdcd;
  border-image: linear-gradient(to top, rgb(235, 233, 233), #a3a3a3) 1 100%;
}

.Gold {
  border-image: linear-gradient(to top, rgb(236, 230, 230), #f3cb5b) 1 100%;
  border-color: #f3cb5b;
}

.Platinum {
  border-color: #74cfaa;
  border-image: linear-gradient(to top, rgb(236, 230, 230), #74cfaa) 1 100%;
}

.Diamond {
  border-image: linear-gradient(to top, rgb(236, 230, 230), #adcede) 1 100%;
  border-color: #adcede;
}

.Ruby {
  // border-color: #e04343;
}

.Ruby {
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
}

.GroupList__container:hover {
  transition: 0.18s ease-in-out;
  transform: scale(1.01);
  box-shadow: 2px 2px 5px #999999;
}

.GroupList__name {
  font-size: 1.3rem;
}

.GroupList__leader {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
