.GroupList__container {
  transition: 0.3s ease-in;
  border: 5px solid #cdcdcd;
  border-left: 25px solid #cdcdcd;
  border-radius: 25px;
  padding: 18px;
  padding-bottom: 10px;
  margin: 1rem 1rem;
  width: 50%;
  height: 130px;
  // max-width: 400px;
  background-color: #fdfdfd;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
}

.Diamond {
  border-color: #abcedf;
}

.Diamond:hover {
  border-color: #4b8eaf;
}

.GroupList__container:hover {
  transition: 0.18s ease-in-out;
  transform: scale(1.01);
  box-shadow: 2px 2px 5px #999999;
}

.GroupList__name {
  font-size: 1.3rem;
}

.GroupList__leader {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #9c9c9c;
}

.GroupList__info {
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
  color: #686868;
}
