.group-detail-group-name {
  display: inline-block;
}

.group-detail-group-rank {
  margin-left: 2rem;
  font-size: 1.5rem;
  display: inline-block;
}

.group-detail-line {
  margin: 0 !important;
}

.group-detail-button:hover {
  background-color: #40368a !important;
  border-color: #40368a !important;
}
