.group--loading {
  width: 100%;
  height: 60vh;
  border-radius: 12px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border: 3px solid #cdcdcd;
  img {
    width: 120px !important;
    height: 120px !important;
  }
  div {
    font-size: 22px;
  }
}

.group-detail-group-name {
  display: inline-block;
}

.group-detail-group-rank {
  margin-left: 2rem;
  font-size: 1.5rem;
  display: inline-block;
}

.group-detail-line {
  margin: 0 !important;
}

.group-detail-button:hover {
  background-color: #40368a !important;
  border-color: #40368a !important;
}
