label {
  font-size: 1.3rem;
  font-style: bold;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input-container {
  width: 60%;
  min-width: 550px;
  margin-bottom: 1.5rem;
}

.login__button {
  display: flex;
  width: 60%;
  min-width: 550px;
  justify-content: flex-end;
  align-items: center;
}

.login__forgot {
  font-size: 1.3rem;
  margin: 0 2rem;
}

.login__auto-container {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  cursor: pointer;
  width: 10rem;
  input {
    cursor: pointer;
    width: 16px;
    margin: 0 1rem;
    padding: 0rem;
  }
  label {
    cursor: pointer;
  }
}
