.user__container {
  border: 1px solid #cdcdcd;
  padding: 2rem;
  border-radius: 8px;
  li {
    list-style-type: none;
  }
}

.user__container__horizontal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user__solved__problem__list {
  padding: 0 1rem 1rem 1rem;
}

.user__solved__problem {
  transition: 0.15s ease-in;
  display: inline-block;
  width: 4rem;
  text-align: center;
  margin: 0.5rem 1rem;
  color: #313131;
  border: 1px solid #c4c4c4;
  border-bottom: 3px solid #537fd1;
  border-radius: 4px;
  padding: 4px 6px;
}

.user__solved__problem:hover {
  transition: 0.15s ease-in;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  text-decoration: none;
}

.user__solved__list {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  max-height: 500px;
  overflow: hidden;
  text-align: left;
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  .user__item__label {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1.6rem 0 0 2rem;
  }
  li {
    width: 100%;
  }
}

.user__solved__divideline {
  width: 100%;
  border-color: #40368a;
  border-width: 5px;
}

.user__solved__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.user__item {
  flex: 1;
  li {
    margin: 1.5rem 0;
    input {
      width: 30%;
      font-size: 1.2rem;
      min-width: 400px;
      max-width: 800px;
      padding: 1rem 1.2rem;
      border: 1px solid #cdcdcd;
      border-radius: 8px;
      margin: 1rem 1rem 0 0;
    }
    button {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.user__item__label {
  font-size: 1.2rem;
  color: #696969;
}

.user__item__content {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.user__item__modify {
  transition: 0.15s ease-in;
  color: #8f8f8f;
  cursor: pointer;
}
.user__item__modify:hover {
  transition: 0.15s ease-in;
  color: #424242;
}

.user__item__borderline {
  width: 20rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cdcdcd;
}

@media (max-width: 1200px) {
  .user__container__horizontal {
    flex-direction: column;
  }

  .user__solved__list {
    .user__item__label {
      margin: 1rem 0 0 1rem;
    }
  }
}
