.user__container {
  border: 1px solid #cdcdcd;
  padding: 2rem;
  border-radius: 8px;
  li {
    list-style-type: none;
  }
}

.user__container__horizontal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#file-upload-button {
  display: none !important;
}

.image-upload-container {
  margin-right: 20px;
}

.image-upload {
  width: 120px !important;
  height: 120px !important;
  font-size: 100px;
  text-align: right;
  min-width: 0 !important;
  outline: none;
  background: rgb(0, 0, 0);
  cursor: inherit;
  display: block !important;
  border-radius: 50% !important;
  cursor: pointer;
  position: absolute;
  margin: 0 !important;
  z-index: -1;
}

.image-upload-wrapper {
  position: inherit;
  width: 120px !important;
  height: 120px !important;
  font-size: 100px;
  text-align: right;
  min-width: 0 !important;
  outline: none;
  background: rgb(255, 255, 255);
  cursor: inherit;
  display: block !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.profile-img {
  position: inherit;
  width: 120px !important;
  height: 120px !important;
  font-size: 100px;
  text-align: right;
  min-width: 0 !important;
  outline: none;
  cursor: inherit;
  display: block !important;
  border-radius: 50% !important;
  cursor: pointer;
}

.user__solved__problem__list {
  padding: 0 1rem 1rem 1rem;
}

.user__solved__problem {
  transition: 0.15s ease-in;
  display: inline-block;
  width: 4rem;
  text-align: center;
  margin: 0.5rem 1rem;
  color: #313131;
  border: 1px solid #c4c4c4;
  border-bottom: 3px solid #537fd1;
  border-radius: 4px;
  padding: 4px 6px;
}

.user__solved__problem:hover {
  transition: 0.15s ease-in;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
  text-decoration: none;
}

.user__solved__list {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  max-height: 450px;
  overflow: hidden;
  text-align: left;
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  .user__item__label {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1.6rem 0 0 2rem;
  }
  li {
    width: 100%;
  }
}

.user__solved__divideline {
  width: 100%;
  border-color: #40368a;
  border-width: 5px;
}

.user__solved__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.user__item {
  flex: 1;
  margin-right: 1rem;
  li {
    margin: 1.5rem 0;
    input {
      width: 30%;
      font-size: 1.2rem;
      min-width: 400px;
      max-width: 800px;
      padding: 1rem 1.2rem;
      border: 1px solid #cdcdcd;
      border-radius: 8px;
      margin: 1rem 1rem 0 0;
    }
    button {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.user__item__label {
  font-size: 1.2rem;
  color: #696969;
}

.user__item__content {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.user__item__modify {
  transition: 0.15s ease-in;
  color: #8f8f8f;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
}
.user__item__modify:hover {
  transition: 0.15s ease-in;
  color: #424242;
}

.user__item__borderline {
  width: 20rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cdcdcd;
}

.user__leave__button {
  background-color: rgb(189, 20, 20);
  border: none;
  float: right;
  margin-right: 2rem;
}

.user__leave__button:hover {
  background-color: rgb(214, 135, 135);
  border: none;
}

.user__image__change{  
  button {
    padding: 3px;
  }
  display: flex;
  justify-content: center;
}

.ReactModal__Content {
  position: absolute;
  top: 150px !important;
  width: 700px;
  height: 350px;
  margin: auto auto;
  left: auto;
  right: auto;
}

.user__leave__modal {
  h2 {
    font-weight: 400;
    font-size: 2rem;
  }
  .user__leave__modal__content {
    margin-top: 3rem;
    div {
      margin-top: 3rem;
      font-size: 1.3rem;
    }
    input {
      width: 25rem;
      padding: 3px;
      padding-left: 8px;
      margin-top: 8px;
      border-radius: 4px;
    }
    h4 {
      font-weight: 400;
      font-size: 1.3rem;
    }
  }
  button {
    position: relative;
    top: 50px;
    margin-right: 2rem;
    float: right;
  }
}

.button--leave {
  background-color: rgb(173, 46, 46);
  border: none;
}

.button--stay {
  border: none;
  background-color: rgb(68, 167, 112);
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 700ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

@media (max-width: 1200px) {
  .user__container__horizontal {
    flex-direction: column;
  }

  .user__solved__list {
    .user__item__label {
      margin: 1rem 0 0 1rem;
    }
  }
}
