.GroupSearch__input {
  width: 100%;
  padding: 10px;
}

.GroupSearch__container {
  display: flex;
  align-items: center;
  input {
    flex: 9;
    margin: 0;
  }
  button {
    flex: 1;
    margin: 0 2rem;
  }
}

.GroupSearch__button {
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.GroupSearch__button:hover {
  border: 3px solid none !important;
}
